.head{
  width: 100%;
  height: fit-content;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-bottom: 10px;
}
.ull{
  display: flex;
  list-style: none;
  gap: 20px;
  transform: scale(1);
  transition: all 0.1s; 
  cursor: default;
}
.ull:hover{
  gap: 100px;
}
.chg{
  align-items: self-end;
}
.card{
  margin-bottom: 60px;
  width: 1000px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  background: linear-gradient(141deg, #3f3f3f,#141414);
  border-radius: 20px;
  box-shadow: -30px 30px 4px rgba(0, 0, 0, 0.9);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.card div{
  display: flex;
  width: 700px;
  height: 600px;
  border-radius: 0 20px 20px 0;
  justify-content: center;
  align-items: center;
  justify-self: right;
  background-color: #3f3f3f;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: -40px 40px 4px rgba(0, 0, 0, 0.9);
}
.card h2{
  color: white;
  font-size: 30px;
  margin-top: 20px;
  justify-self: left;
  margin: 30px;
}
.card h3{
  color: white;
  font-size: 21px;
  margin-top: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
  justify-self: left;
  margin: 30px;
}
.cardcontainer1{
  width: 60%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 60px;
}
.cardcontainer2{
  display: flex;
  margin-top: 118px;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: 100px;
  width: 100%;
}
.newcard{
  transform: scale(0.7);
  display: flex;
  justify-content: right;
  width: 1408px;
  height: 593px;
  background: radial-gradient(circle at 30% 80%, rgba(20,20,20,1) 0%, rgba(122,122,122,1) 100%);
  border-radius: 79px;
  transition: transform 500ms ease-in-out, box-shadow 500ms ease-in-out;
}
.newcardright{
  width: 912.08px;
  height: 593px;
  background: linear-gradient(138deg, rgba(171,166,166,1) 0%, rgba(0,0,0,1) 100%);
  border-radius: 0 79px 79px 0;
}
.newcard:hover {
  transform: scale(0.71);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.9);
}
.newcardleft{
  align-self: last baseline;
  width: 496px;
  height: 593px;
}
.divhead{
  width: 400px;
  height: 50.02px;
  margin-top: 55px;
  margin-left: 79px;
}
.des{
  margin-left: 85px;
  width: 350px;
}
.des p {
  letter-spacing: 2.7px;
}
.waterMark{
  z-index:1000;
  width:140px;
  height:40px;
  background: linear-gradient(138deg, rgba(171,166,166,1) 0%, rgba(0,0,0,1) 70%);
   position:absolute;
    margin-top:530px;
    margin-right:20px; 
    border-radius:79px 79px 79px 79px;
    display: flex;
    justify-content: center;
    align-items: center;
}